/.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Django stuff:
*.log
local_settings.py
db.sqlite3

.env
/venv
/uploads/
/staticfiles/
